@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-blue: #1D4ED8;
    --color-dark-blue: #2D3E50;
    --color-dark-background: #141414;
    --color-dark-background-card: #0D0D0D;
    --color-white-smoke: #F9F9FB;
}